html,
body,
#root
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: ivory;
}

.infos{
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction:row;
    width: 28%;
    left: 2%;
    font-family: 'Inter', sans-serif;
    align-items: center;
    height: 100vh;
    opacity: 0;
    transform: translateX(-300px);
    transition: transform 0.8s ease-out, opacity 0.5s ease-out;

    .content{
        display: flex;
        flex-direction: column;
        background-color: white;
        padding: 30px;
        /* height: 72vh; */
    }

    .title{
        font-size: 20px;
        /* margin-bottom: 0; */
        font-weight: 800;
    }

    .subtitle{
        font-size: 13px;
    }

    .equation{
        font-size: 13px;
        padding-top: 18px;
        line-height: 1.6;
    }

    .text{
        font-size: 11px;
    }

    .blocNom{
        display: flex;
        flex-direction: column;
        font-size: 13px;
    }
    
    .ligne{
        display: flex;
        flex-direction: row;
    }
    
    .colonne{
        display: flex;
        flex-direction: column;
        margin-right: 4%;
    }
}

.slide-in{
    opacity: 1;
    transform: translateX(0);
}

.landing{
    display: flex;
    flex-direction: column;
    background-color: white;
    z-index: 3;
    /* position: absolute; */
    width: 100vw;
    height: 100vh;
    font-family: "Inter", sans-serif;
    justify-content: center;
    align-items: center;

    .content{
        width: 83%;
        display: flex;
        flex-direction: column;
    }

    .firstBloc{
        display: flex;
        flex-direction: row;
        padding-bottom: 2%;
    }

    .title{
        font-size: 100px;
        font-weight: 500;
        margin: 0;
        width: 62%;
        line-height: 102%;
        padding-right: 3%;
    }

    .subtitle{
        font-size: 20px;
        margin: 0;
        /* padding-top: 6%; */
        width: 40%;
        padding-bottom: 3%;
    }

    .text{
        font-size: 13px;
        line-height: 20px;
        width:94%;
    }

    .button{
        position: absolute;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        height: 35px;
        background-color: black;
        rotate: -90deg;
        transform:translateY(240%);
    }

    .show{
        font-size: 12px;
        font-weight: 500;
        color: white; 
        cursor: pointer;
        transition: color 0.3s ease, font-size 0.3s ease;
    }

    .show:hover{
        color:#F0911E;
        font-size: 16px;
    }
}

.loader{
    display: flex;
    justify-content: center;

    .dot{
     height: 10px;
     width: 10px;
     border-radius: 50%;
     margin: 0.5rem;
     animation: scaling 2.5s ease-in-out infinite;
     background-color: white;
    }

    .dot:nth-child(0){
        animation-delay: 0s;
    }
    
    .dot:nth-child(1){
        animation-delay: 0.2s;
    }
    
    .dot:nth-child(2){
        animation-delay: 0.4s;
    }
    
    .dot:nth-child(3){
        animation-delay: 0.6s;
    }
    
    .dot:nth-child(4){
        animation-delay: 0.8s;
    }
    
    .dot:nth-child(5){
        animation-delay: 1s;
    }
}

.navbar{
    display: flex;
    z-index: 5;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    position: absolute;
    color: white;
    width: 100vw;
    align-items: center;
    flex-direction: column;

    .content{
        width: 90vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 60px;
    }

    .aboutButton{
        cursor: pointer;
        transition: color 0.3s ease;
    }

    .aboutButton:hover{
        color: rgb(186, 186, 186)
    }

}

.about{
    display: flex;
    flex-direction: column;
    background-color: white;
    z-index: 3;
    width: 100vw;
    height: 100vh;
    font-family: "Inter", sans-serif;
    justify-content: center;

    .content{
        display: flex;
        flex-direction: row;
        padding: 80px;
        padding-top: 100px;
        justify-content: center;
    }

    .leftBloc{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-right: 40px;
    }

    .rightBloc{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 45%;
    }

    .photo{
        width: 592px;
    }

    .team{
        font-size: 10px;
        line-height: 20px;
    }

    .title{
        font-size: 60px;
        font-weight: 700;
        margin: 0;
    }

    .text{
        font-size: 10px;
        line-height: 20px;
    }

    .teamTitle{
        font-weight: 700;
        margin-top: 10px;
    }

    .returnButton{
        position: absolute;
        top: 50px;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        height: 35px;
        background-color: black;
        color: white;
        cursor: pointer;
        transition: color 0.3s ease, font-size 0.3s ease;
    }

    .returnButton:hover{
        color:#F0911E;
        font-size: 20px;
    } 

}

.rotateScreen{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: black;
    justify-content: center;

    .rotateImg{
        width: 50%;
    }
}

@keyframes scaling{
    0%, 100%{
        transform: scale(0.2);
        /* background-color: #0E1B41; */
    }
    40%{
        transform: scale(1);
        /* background-color: #F0911E; */
    }
    50%{
        transform: scale(1);
        /* background-color: #F14C72; */
    }
}

/**IN-BETWEEN */
@media screen and (max-width:1240px) {
    .landing{
        .firstBloc{
            padding-bottom: 0;
        }

        .title{
            font-size: 80px;
        }

        .subtitle{
            width: 300px;
            font-size: 14px;
        }

        .text{
            font-size: 11px;
            line-height: 17px;
        }
    }

    .about{
        .returnButton{
            top: 25px;
            width:100px;
        }

        .content{
            /* flex-direction: column-reverse; */
            height: 100%;
            overflow-y: scroll;
            padding: 30px;
            padding-top: 70px;
        }

        .leftBloc, .rightBloc{
            width: 42%;
        }

        .title{
            font-size: 40px;
        }

        .photo{
            width: auto;
        }

        .text{
            line-height: calc(1.5vw + 1px);
        }

        .teamTitle{
            margin-top: 15px;
        }
    }


    .infos{
        .content{
           padding: 28px; 
        }

        .title{
            font-size: 16px;
        }

        .subtitle{
            font-size: 12px;
        }

        .equation{
            font-size: 10px;
        }

        .text{
            font-size: 9px;
        }
    }
}

@media screen and (max-width:820px) {
    .landing{
        .title{
            font-size: 40px;
        }

        .subtitle{
            font-size: 16px;
        }

        .text{
            font-size: 10px;
        }
    }

    .about {
        .returnButton {
            top: 25px;
            width: 100px;
        }

        .content {
            flex-direction: column-reverse;
            height: 100%;
            overflow-y: scroll;
            padding: 50px;
            padding-top: 70px;
            justify-content: unset;
        }

        .leftBloc, .rightBloc {
            width: auto;
            padding-right: 0;
        }

        .title {
            font-size: 40px;
        }

        .photo {
            width: auto;
        }

        .text{
            line-height: 20px;
        }
    }

    .infos{
        width: 25%;

        .content{
           padding: 20px; 
        }

        .title{
            font-size: 12px;
        }

        .subtitle{
            font-size: 10px;
        }

        .equation{
            font-size: 8px;
        }

        .text{
            font-size: 8px;
        }
    }
}

/**MOBILE */
@media screen and (max-width: 680px) {
    .landing {
        .firstBloc {
            flex-direction: column;
        }

        .title {
            font-size: 40px;
        }

        .subtitle {
            width: 80%;
        }

        .text {
            line-height: 17px;
        }
    }

    .about {
        .returnButton {
            top: 25px;
            width: 100px;
        }

        .content {
            flex-direction: column-reverse;
            height: 100%;
            overflow-y: scroll;
            padding: 30px;
            padding-top: 70px;
            justify-content: unset;
        }

        .leftBloc, .rightBloc {
            width: auto;
            padding-right: 0;
        }

        .title {
            font-size: 40px;
        }

        .photo {
            width: auto;
        }
    }

    .infos {
        .content {
            padding: 13px;
        }

        .title {
            font-size: 14px;
        }

        .subtitle {
            font-size: 10px;
        }

        .equation {
            font-size: 7px;
        }

        .text {
            font-size: 7px;
        }
    }
}

@media screen and (max-width: 680px) and (orientation: landscape) {
    .landing {
        .subtitle {
            font-size: 14px;
            width: auto;
        }

        .text {
            font-size: 11px;
        }
    }
}